@import url(vendor/normalize.css);
.btn, .btn-positive, .btn-positive-inverse, .btn-danger, .btn-danger-inverse, .btn-warning, .btn-warning-inverse, .btn-negative, .btn-negative-inverse {
  box-sizing: border-box;
  min-width: 90px;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  line-height: 32px;
  height: 32px;
  -webkit-user-select: none;
  outline: none;
  cursor: pointer; }
  .btn:not(.disabled):active, .btn-positive:not(.disabled):active, .btn-positive-inverse:not(.disabled):active, .btn-danger:not(.disabled):active, .btn-danger-inverse:not(.disabled):active, .btn-warning:not(.disabled):active, .btn-warning-inverse:not(.disabled):active, .btn-negative:not(.disabled):active, .btn-negative-inverse:not(.disabled):active, .btn:not(.disabled).active, .btn-positive:not(.disabled).active, .btn-positive-inverse:not(.disabled).active, .btn-danger:not(.disabled).active, .btn-danger-inverse:not(.disabled).active, .btn-warning:not(.disabled).active, .btn-warning-inverse:not(.disabled).active, .btn-negative:not(.disabled).active, .btn-negative-inverse:not(.disabled).active {
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3); }
  .btn.disabled, .disabled.btn-positive, .disabled.btn-positive-inverse, .disabled.btn-danger, .disabled.btn-danger-inverse, .disabled.btn-warning, .disabled.btn-warning-inverse, .disabled.btn-negative, .disabled.btn-negative-inverse, .btn:disabled, .btn-positive:disabled, .btn-positive-inverse:disabled, .btn-danger:disabled, .btn-danger-inverse:disabled, .btn-warning:disabled, .btn-warning-inverse:disabled, .btn-negative:disabled, .btn-negative-inverse:disabled {
    cursor: not-allowed; }

.btn-positive {
  background-color: #39AC6A; }

.btn-positive:active, .btn-positive.active, .btn-positive:hover, .btn-positive.hover {
  background-color: rgba(50, 152, 93, 0.94); }

.btn-positive.disabled, .btn-positive[disabled] {
  background-color: rgba(107, 193, 143, 0.75); }

.btn-positive-inverse {
  color: #39AC6A;
  background-color: transparent;
  border: 1px solid #39AC6A; }

.btn-positive-inverse.disabled {
  color: rgba(107, 193, 143, 0.75);
  border-color: rgba(107, 193, 143, 0.75); }

.btn-danger {
  background-color: #EA5555; }

.btn-danger:active, .btn-danger.active, .btn-danger:hover, .btn-danger.hover {
  background-color: rgba(206, 75, 75, 0.94); }

.btn-danger.disabled, .btn-danger[disabled] {
  background-color: rgba(239, 128, 128, 0.75); }

.btn-danger-inverse {
  color: #EA5555;
  background-color: transparent;
  border: 1px solid #EA5555; }

.btn-danger-inverse.disabled {
  color: rgba(239, 128, 128, 0.75);
  border-color: rgba(239, 128, 128, 0.75); }

.btn-warning {
  background-color: #F5BA4E; }

.btn-warning:active, .btn-warning.active, .btn-warning:hover, .btn-warning.hover {
  background-color: rgba(216, 164, 69, 0.94); }

.btn-warning.disabled, .btn-warning[disabled] {
  background-color: rgba(248, 203, 122, 0.75); }

.btn-warning-inverse {
  color: #F5BA4E;
  background-color: transparent;
  border: 1px solid #F5BA4E; }

.btn-warning-inverse.disabled {
  color: rgba(248, 203, 122, 0.75);
  border-color: rgba(248, 203, 122, 0.75); }

.btn-negative {
  background-color: #ACACAC; }

.btn-negative:active, .btn-negative.active, .btn-negative:hover, .btn-negative.hover {
  background-color: rgba(152, 152, 152, 0.94); }

.btn-negative.disabled, .btn-negative[disabled] {
  background-color: rgba(193, 193, 193, 0.75); }

.btn-negative-inverse {
  color: #ACACAC;
  background-color: transparent;
  border: 1px solid #ACACAC; }

.btn-negative-inverse.disabled {
  color: rgba(193, 193, 193, 0.75);
  border-color: rgba(193, 193, 193, 0.75); }

.row:before, .row:after {
  display: table;
  content: " "; }

.row:after {
  clear: both; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.row {
  display: -webkit-flex;
  display: flex;
  align-items: center; }

.expend-1 {
  flex-grow: 1; }

.expend-2 {
  flex-grow: 2; }

.expend-3 {
  flex-grow: 3; }

.expend-4 {
  flex-grow: 4; }

.expend-5 {
  flex-grow: 5; }

.expend-6 {
  flex-grow: 6; }

.expend-7 {
  flex-grow: 7; }

.expend-8 {
  flex-grow: 8; }

.expend-9 {
  flex-grow: 9; }

.expend-10 {
  flex-grow: 10; }

.expend-11 {
  flex-grow: 11; }

.expend-12 {
  flex-grow: 12; }

/*# sourceMappingURL=main.css.map */
