@charset "UTF-8";
@import url(vendor/normalize.css);
html {
  font-size: 12px; }
  html * {
    box-sizing: border-box; }

body {
  font-family: "Microsoft YaHei", 微软雅黑, 宋体;
  line-height: 1.5; }

a {
  color: #0088cc;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:visited:hover {
    color: #005580;
    text-decoration: underline; }
  a:visited {
    color: red; }

/*正文颜色*/
p, .text-body {
  color: #333; }

label {
  color: #999; }

/*input-placeholder颜色*/
input::-webkit-input-placeholder {
  color: #d8d8d8; }

.btn2 {
  display: inline-block;
  box-sizing: border-box;
  min-width: 8rem;
  border: 1px solid transparent;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  padding: 0.7em 0;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  color: #fff;
  background-color: #39ac6a;
  border-color: transparent; }
  .btn2:hover {
    color: #fff;
    background-color: #33995e;
    border-color: transparent; }
  .btn2.disabled, .btn2:disabled {
    background-color: #79d29f;
    border-color: transparent; }
    .btn2.disabled:focus, .btn2.disabled:hover, .btn2:disabled:focus, .btn2:disabled:hover {
      background-color: #79d29f;
      border-color: transparent; }
  .btn2:focus, .btn2:active {
    outline: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn2:hover, .btn2.hover {
    text-decoration: none; }
  .btn2.disabled, .btn2:disabled {
    cursor: not-allowed; }
    .btn2.disabled:focus, .btn2.disabled:hover, .btn2.disabled:active, .btn2:disabled:focus, .btn2:disabled:hover, .btn2:disabled:active {
      box-shadow: none; }

a.btn.disabled {
  pointer-events: none; }

.btn-primary {
  color: #fff;
  background-color: #39ac6a;
  border-color: transparent; }
  .btn-primary:hover {
    color: #fff;
    background-color: #33995e;
    border-color: transparent; }
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: #79d29f;
    border-color: transparent; }
    .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary:disabled:focus, .btn-primary:disabled:hover {
      background-color: #79d29f;
      border-color: transparent; }

.btn-secondary {
  color: #fff;
  background-color: #ea5555;
  border-color: transparent; }
  .btn-secondary:hover {
    color: #fff;
    background-color: #e73e3e;
    border-color: transparent; }
  .btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #f5b0b0;
    border-color: transparent; }
    .btn-secondary.disabled:focus, .btn-secondary.disabled:hover, .btn-secondary:disabled:focus, .btn-secondary:disabled:hover {
      background-color: #f5b0b0;
      border-color: transparent; }

.btn-info {
  color: #fff;
  background-color: #f5ba4e;
  border-color: transparent; }
  .btn-info:hover {
    color: #fff;
    background-color: #f4b136;
    border-color: transparent; }
  .btn-info.disabled, .btn-info:disabled {
    background-color: #fae0af;
    border-color: transparent; }
    .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info:disabled:focus, .btn-info:disabled:hover {
      background-color: #fae0af;
      border-color: transparent; }

.btn-success {
  color: #39ac6a;
  background-color: transparent;
  border-color: #36ac6a; }
  .btn-success:hover {
    color: #39ac6a;
    background-color: transparent;
    border-color: #277d4d; }
  .btn-success.disabled, .btn-success:disabled {
    background-color: rgba(51, 51, 51, 0);
    border-color: #36ac6a; }
    .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success:disabled:focus, .btn-success:disabled:hover {
      background-color: rgba(51, 51, 51, 0);
      border-color: #36ac6a; }

.btn-warning {
  color: #414141;
  background-color: #fff;
  border-color: #c2c2c2; }
  .btn-warning:hover {
    color: #414141;
    background-color: #f2f2f2;
    border-color: #a3a3a3; }
  .btn-warning.disabled, .btn-warning:disabled {
    background-color: white;
    border-color: #c2c2c2; }
    .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning:disabled:focus, .btn-warning:disabled:hover {
      background-color: white;
      border-color: #c2c2c2; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Microsoft YaHei", 微软雅黑, 宋体;
  font-weight: 500;
  line-height: 1;
  color: inherit; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 1.175rem; }

h6, .h6 {
  font-size: 1rem; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.row {
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .row > *, .row > .top {
    align-self: flex-start; }
  .row > .bottom {
    align-self: flex-end; }
  .row > .center {
    align-self: center; }
  .row .fill-y > *, .row > .fill-y {
    align-self: stretch; }

.expend-1 {
  flex-grow: 1; }

.expend-2 {
  flex-grow: 2; }

.expend-3 {
  flex-grow: 3; }

.expend-4 {
  flex-grow: 4; }

.expend-5 {
  flex-grow: 5; }

.expend-6 {
  flex-grow: 6; }

.expend-7 {
  flex-grow: 7; }

.expend-8 {
  flex-grow: 8; }

.expend-9 {
  flex-grow: 9; }

.expend-10 {
  flex-grow: 10; }

.expend-11 {
  flex-grow: 11; }

.expend-12 {
  flex-grow: 12; }

/*# sourceMappingURL=main.css.map */
