.row:before, .row:after {
  display: table;
  content: " ";

}

.row:after {
  clear: both
}

.row > * {
  align-self: flex-start;
}

.row > .top {
  align-self: flex-start;
}

.row > .bottom {
  align-self: flex-end;
}

.row > .center {
  align-self: center;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: $i / 12 * 100%;
  }
}

.row {
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

@for $i from 1 through 12 {
  .expend-#{$i} {
    flex-grow: $i;
  }
}