@for $i from 1 through 12 {
  .col-#{$i} {
    width: $i / 12 * 100%;
  }
}

.row {
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  & > .top {
    align-self: flex-start;
  }
  & > .bottom {
    align-self: flex-end;
  }
  & > .center {
    align-self: center;
  }
  .fill-y > *, & > .fill-y {
    align-self: stretch;
  }
}

@for $i from 1 through 12 {
  .expend-#{$i} {
    flex-grow: $i;
  }
}