@import "../../../dui/style/utils/variables";
.sidebar {
  font-size: 14px;
  a {
    text-decoration: none;
    color: #999;
    padding: 4px 20px;
    display: block;
    border-left: 1px solid transparent;
    &.active {
      border-left-width: 2px;
      padding-left: 19px;
      font-weight: bold;
    }
    &:hover,&.active {
      border-left-color: $color_positive;
      color: $color_positive;
    }
  }
  ul {
    text-indent: 15px;
    padding-bottom: 10px;
    font-size: 12px;
  }
}
.sidebar, .sidebar ul {
  padding: 0;
  list-style: none;
}