@import "../utils/mixins/mixin-all";
@import "../utils/variable/variable-all";
/*--------------------按钮-----------------------*/

.btn {
  display: inline-block;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  line-height: $btn-line-height;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  border-radius: 2px;
  @include transition(all .2s ease-in-out);

  &:active, &.active{
    @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
    //@include box-shadow(inset 0 1px 3px 0 rgba(0, 0, 0, .3));
  }

  @include hover-active-focus{
    @include tab-focus();
  }

  &:hover, &.hover{
    text-decoration: none;
  }

  &.disabled,
  &:disabled{
    cursor: $cursor-disabled;

    @include hover-active-focus{
      @include box-shadow(none);
    }
  }
}

@each $size in $btn-type{
  /* 正向 */
  .btn-positive-#{$size}{
    @include button-variant(#fff, $main-color, transparent);
    @include button-size($size);
  }

  /* 警示 */
  .btn-danger-#{$size} {
    @include button-variant(#fff, $danger-color, transparent);
    @include button-size($size);
  }

  /* 提醒 */
  .btn-warning-#{$size} {
    @include button-variant(#fff, $warn-color, transparent);
    @include button-size($size);
  }

  /* 正向反色 */
  .btn-positive-inverse-#{$size} {
    @include button-variant($main-color, #fff, $main-color);
    @include button-size($size);
  }

  /* 负向 */
  .btn-negative-#{$size} {
    @include button-variant(#414141, #fff, #c2c2c2);
    @include button-size($size);
  }

  /* 删除 */
  .btn-delete-#{$size} {
    @include button-variant($danger-color, #fff, $danger-color);
    @include button-size($size);
  }

  /* 关闭 */
  .btn-close-#{$size} {
    @include button-variant(#fff, #acacac, transparent);
    @include button-size($size);
  }
}
/*--------------------按钮 end-------------------*/