@import "../utils/mixins/mixins";
@import "../utils/mixins/hover-focus";


.btn {
  display: inline-block;
  box-sizing: border-box;
  min-width: 8rem;
  border: 1px solid transparent;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;

  @include button-size($btn-padding-y, 0, $font-size-base, $line-height, 2px);
  @include transition(all .2s ease-in-out);
  @include button-variant(#fff, #39ac6a, transparent);

  @include active-focus{
    @include tab-focus();
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &:hover, &.hover{
    text-decoration: none;
  }

  &.disabled,
  &:disabled{

    cursor: $cursor-disabled;

    @include hover-focus-active{
      @include box-shadow(none);
    }

  }
}



// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled{
  pointer-events: none;
}

//
// Alternate buttons
//

.btn-primary {
  @include button-variant(#fff, #39ac6a, transparent);
}
.btn-secondary {
  @include button-variant(#fff, #ea5555, transparent);
}
.btn-info {
  @include button-variant(#fff, #f5ba4e, transparent);
}
.btn-success {
  @include button-variant(#39ac6a, transparent, #36ac6a);
}
.btn-warning {
  @include button-variant(#414141, #fff, #c2c2c2);
}
