@import "../utils/variables";

html {
  font-size: $font-size-root;
  & * {
    box-sizing: border-box;
  }
}

body {
  font-family: $font-family-base;
  line-height: $line-height;
}

a{
  color: $link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:visited:hover{
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:visited{
    color: $link-visit-color;
  }
}

/*正文颜色*/
p, .text-body{
  color: $text-body-color;
}

label{
  color: $text-label-color;
}
/*input-placeholder颜色*/
input::-webkit-input-placeholder{
  color:#d8d8d8;
}