// Button size
@mixin button-size($size) {
  $btn-size: map_get($btn-size, $size);

  padding: nth($btn-size, 1) nth($btn-size, 2);
  min-width: nth($btn-size, 3);
}

// Button 颜色、背景、边框
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  $active-background: darken($background, 3%);
  $active-border: darken($border, 12%);

  $disabled-background: lighten($background, 20%);
  $disabled-border: lighten($border, 15%);
  $disabled-color: lighten($color, 20%);

  @include hover {
    color: $color;
    background-color: $active-background;
    border-color: $active-border;
  }

  &.disabled,
  &:disabled{
    background-color: $disabled-background;
    border-color: $disabled-border;
    color: $disabled-color;

    @include hover-focus {
      background-color: $disabled-background;
      border-color: $disabled-border;
      color: $disabled-color;
    }
  }
}
