$input-border-focus:             #66afe9 !default;
$input-box-shadow-focus:         rgba(102,175,233,.6) !default;
@mixin input-webkit-focus() {
  &:focus {
    border-color: $input-border-focus;
    outline: none;
    $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $input-box-shadow-focus;
    @include box-shadow($shadow);
  }
}

// input["text"] size
@mixin input-text-size($size) {
  $input-text-size: map_get($input-text-size, $size);

  padding: nth($input-text-size, 1) nth($input-text-size, 2);
}
