
// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               true !default;
$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;
$enable-hover-media-query:  false !default;

//----------------字体------------------------
$font-family-heiti: "Microsoft YaHei",微软雅黑,宋体 !default;
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-heiti !default;
$font-size-root:             12px !default;
//$font-size-base:             1rem !default;
$line-height:                1.5 !default;
//----------------字体 end--------------------

//----------------标题------------------------
$headings-fontSize: (
        h1: 2.5rem,
        h2: 2rem,
        h3: 1.75rem,
        h4: 1.5rem,
        h5: 1.175rem,
        h6: 1rem
);
$headings-margin-top:        .5em !default;
$headings-margin-bottom:     .5em !default;
$headings-font-family:       inherit !default;
$headings-font-weight:       500 !default;
$headings-line-height:       1 !default;
$headings-color:             inherit !default;
//---------------标题 end---------------------

//----------------颜色------------------------
//主色
$main-color: #39ac6a !default;
//提醒
$warn-color: #f5a623 !default;
//警示
$danger-color: #ea5555 !default;
//正文
$text-body-color: #333 !default;
//label
$text-label-color: #999 !default;
$text-sub-label-color: #666 !default;
//input
$input-placeholder-color: #d8d8d8 !default;
$input-border-color: #e0e0e0 !default;
//link
$link-color: #0088cc !default;
$link-visit-color: red !default;
$link-hover-color: darken($link-color, 15%) !default;

$link-spec-color: #999 !default;
//----------------颜色 end--------------------

//----------------按钮------------------------
$btn-line-height: 1 !default;
$btn-padding-x:                  .7em;
$btn-padding-y:                  .7em;
$btn-font-weight:                normal !default;

//按钮尺寸
$btn-type: sm md mdf lg !default;
$btn-size:(
  sm: .334rem .834rem 5rem,
  md: .75rem 1rem 8rem,
  mdf: .75rem 1rem 5.334rem,
  lg: .6rem 1rem 8rem
);
//----------------按钮 end--------------------

//----------------光标------------------------
$cursor-disabled:  not-allowed !default;
//----------------光标 end--------------------

//----------------表单------------------------
$input-color: $text-body-color !default;
$input-line-height: 1.5 !default;
$input-border-radius: 2px;
$input-box-shadow-light: inset 0 1px 3px 0 rgba(0,0,0,.1) !default;
$input-box-shadow-heavy: inset 0 1px 3px 0 rgba(0,0,0,.1) !default;

//input["text"]尺寸
$input-type: sm md lg !default;
$input-text-size:(
  sm: 2px 7px,
  md: 4px 7px,
  lg: 6px 7px
);
//----------------表单 end--------------------


