$color_positive: #39AC6A;
$color_negative: #ACACAC;
$color_danger: #EA5555;
$color_warning: #F5BA4E;
$color_warning: #F5BA4E;
$color_normal: #F5BA4E;

$font-family-heiti: "Microsoft YaHei",微软雅黑,宋体 !default;
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-heiti !default;
$font-size-root:             14px !default;


$font-size-base:             1rem !default;
$font-size-lg:               1.25rem !default;
$font-size-sm:               .875rem !default;
$font-size-xs:               .75rem !default;


$line-height:                1.5 !default;


//----------------标题-----------------------
$font-size-h1:               2.5rem !default;
$font-size-h2:               2rem !default;
$font-size-h3:               1.75rem !default;
$font-size-h4:               1.5rem !default;
$font-size-h5:               1.25rem !default;
$font-size-h6:               1rem !default;


$headings-margin-bottom:     0 !default;
$headings-font-family:       inherit !default;
$headings-font-weight:       500 !default;
$headings-line-height:       1.1 !default;
$headings-color:             inherit !default;

// 标题 end



//----------------颜色-----------------------

//主色
$main-color: #39ac6a !default;

//正文
$text-body-color: #333 !default;

//input
$input-placeholder-color: #d8d8d8 !default;

//提醒
$warn-color: #f5a623 !default;

//警示
$warn-serious-color: #ea5555 !default;

//link
$link-color: #0088cc !default;
$link-visit-color: red !default;
$link-hover-color: darken($link-color, 15%) !default;

// 颜色 end


$cursor-disabled:                not-allowed !default;