<div *ngIf="visible">
    <template [ngIf]="!theme">
        <div #child class="tips"
             *ngIf="visible"
             [ngClass]="direction"
             [ngStyle]="{'left': _left + 'px', 'top': _top + 'px'}">
            <i class="arrow" [ngStyle]="{top: this.arrowTop,right: this.arrowRight,bottom: this.arrowBottom,left: this.arrowLeft}"></i>
            <div [innerHtml]="trustedTitle"></div>
        </div>
    </template>
    <template [ngIf]="theme">
        <div #child class="tips"
             *ngIf="visible"
             [ngClass]="[direction, theme].join(' ')"
             [ngStyle]="{'left': _left + 'px', 'top': _top + 'px'}">
            <i class="arrow" [ngStyle]="{top: this.arrowTop,right: this.arrowRight,bottom: this.arrowBottom,left: this.arrowLeft}"></i>
            <i class="arrow-bg" [ngStyle]="{top: this.arrowTop,right: this.arrowRight,bottom: this.arrowBottom,left: this.arrowLeft}"></i>
            <div class="tip-title" [innerHtml]="trustedTitle"></div>
            <div class="tip-content" [innerHtml]="trustedContent"></div>
            <div class="tip-action">
                <a class="link-main" (click)="hide($event)">确定</a>
            </div>
        </div>
    </template>
</div>